<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 1.统一实体类的包名 -->
    <typeAliases>
        <package name="com.kaka.jtest.ssm.model"/>
    </typeAliases>
    <!-- 2.注册映射文件，也可以在sqlSessionFactory中指定
    <mappers>
        <mapper resource="com/kaka/jtest/ssm/dao/UserMapper.xml"/>
    </mappers> -->
</configuration>
