<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaka.jtest.mybatis.mapper.UserMapper">

    <select id="listUser" parameterType="hashMap" resultType="com.kaka.jtest.mybatis.entities.User">
        select * from users where name in
        <foreach collection="keys" open="(" close=")" separator="," item="string">
            #{string }
        </foreach>
        <if test="idList != null &amp;&amp; idList.size != 0">
            and id in
            <foreach collection="idList" open="(" close=")" separator="," item="id">
                #{id }
            </foreach>
        </if>
    </select>


    <select id="listUserTestPage" resultType="com.kaka.jtest.mybatis.entities.User">
        select * from users
    </select>

    <select id="testIf" resultType="com.kaka.jtest.mybatis.entities.User" parameterType="hashMap">
        select * from users
        <if test="name == 'jsk'">
            where  id = 1
        </if>
    </select>
</mapper>
