<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaka.jtest.springboot.biz.mapper.UserDao">
    <select id="selectList" resultType="com.kaka.jtest.springboot.biz.dataobject.User">
        select * from users
    </select>

    <insert id="insertUser" parameterType="com.kaka.jtest.springboot.biz.dataobject.User">
        insert into users (`name`, age) values (#{name }, #{age })
    </insert>


    <update id="updateUser" parameterType="com.kaka.jtest.springboot.biz.dataobject.User">
        update users set `name` = #{name }, age = #{age} where id = #{id }
    </update>

    <delete id="deleteUser" parameterType="long">
        delete from users where id = #{id }
    </delete>

    <select id="selectOne" parameterType="long" resultType="com.kaka.jtest.springboot.biz.dataobject.User">
        select * from users where id = #{id}
    </select>

    <select id="selectAge" parameterType="string" resultType="java.lang.Integer">
        select age from users where `name` = #{userName}
    </select>

</mapper>
