<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>mybatis-plus</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}---[%thread]---%-5level---[%c]---[%L]---%msg%n</pattern>
        </encoder>
    </appender>

    <!--日志级别为info及以上的,输出到以下三个appender的日志文件中-->
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
