<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_HOME" value="/Users/jiashuangkai/logs/"/>
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] - [%L] -%-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="jskFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--文件路径：默认根目录为当前项目-->
            <FileNamePattern>${LOG_HOME}/logback/test-${traceId}-test.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <MaxHistory>5</MaxHistory>
            <MaxFileSize>50MB</MaxFileSize>
            <TotalSizeCap>250MB</TotalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}---%magenta([%thread])---%-5level---%blue([%c])---%green([%L])---[traceId:%X{traceId}]---[%msg]%n</pattern>
        </encoder>
    </appender>

    <appender name="siftTest" class="ch.qos.logback.classic.sift.SiftingAppender">
        <!--discriminator鉴别器，根据car_model这个key对应的value鉴别日志事件，然后委托给具体appender写日志-->
        <discriminator>
            <key>car_model</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <!--具体的写日志appender(name无影响)，每一个car_model创建一个文件-->
            <appender name="siftInnerAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <!--新日志都打到这个文件中；如果没有这个节点，新日志会打到当前滚动的日志文件中-->
                <file>${LOG_HOME}/logback/sift-${car_model}-test.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                    <!--文件路径：默认根目录为当前项目-->
                    <FileNamePattern>${LOG_HOME}/logback/sift-${car_model}-test.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
                    <MaxHistory>5</MaxHistory>
                    <MaxFileSize>1MB</MaxFileSize>
                    <TotalSizeCap>3MB</TotalSizeCap>
                </rollingPolicy>
                <encoder>
                    <charset>UTF-8</charset>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}---%magenta([%thread])---%-5level---%blue([%c])---%green([%L])---[traceId:%X{traceId}]---[%msg]%n</pattern>
                </encoder>
            </appender>A
        </sift>
    </appender>

    <!--异步Appender-->
    <appender name="rollingFileAsync"
              class="ch.qos.logback.classic.AsyncAppender">
        <!--队列深度-->
        <queueSize>2048</queueSize>
        <!--队列满了是否阻塞-->
        <neverBlock>true</neverBlock>
        <!--队列Info阈值-->
        <discardingThreshold>20</discardingThreshold>
        <!--具体输出策略-->
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="asyncLog" level="INFO" additivity="false">
        <appender-ref ref="rollingFileAsync"/>
    </logger>

    <logger name="jsk" level="INFO" additivity="false">
        <appender-ref ref="siftTest"/>
    </logger>

    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>