<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--1.配置连接数据库-->
    <!--引入properties文件-->
    <properties resource="mybatis/db.properties"/>

    <typeAliases>
        <!-- 批量别名定义，扫描整个包下的类，别名为类名（首字母大写或小写都可以） -->
        <package name="com.kaka.jtest.mybatis.entities"/>
    </typeAliases>

    <!-- 3.配置mybatis的分页插件PageHelper -->
    <plugins>
        <!--老版本的分页插件，直接使用PageHelper实体类做插件，现在PageHelper已经不是mybatis插件Interceptor的子类了-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库-->
            <property name="helperDialect" value="mysql"/>
        </plugin>
    </plugins>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
                <!--最大活跃连接数 -->
                <property name="poolMaximumActiveConnections" value="10"/>
                <!--最大空闲连接数-->
                <property name="poolMaximumIdleConnections" value="5"/>
                <!--创建连接时最大等待时间20s-->
                <property name="poolTimeToWait" value="20000"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 2.注册映射文件 -->
    <!--与SqlSessionFactoryBean的mapperLocations属性同时配置会产生冲突，产生重复的mapperBean-->
    <!--<mappers>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/LabelMapper.xml"/>
    </mappers>-->

</configuration>