<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans.dtd">-->
<!-- -Dspring.profiles.active=test -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!--导入其他配置文件 (开始)-->
    <import resource="circular.xml" />
    <!--导入其他配置文件 (结束)-->

    <!--指定扫描包路径 (开始)-->
    <context:component-scan base-package="com.kaka.spring.beans.factory.config" />
    <!--指定扫描包路径 (结束)-->

    <bean id="department" class="com.kaka.spring.pojo.Department" init-method="testInitMethod">
        <property name="id" value="22"/>
        <property name="name" value="技术部"/>
    </bean>

</beans>